*{
    box-sizing: border-box;
  }
  .navbar{
    width:100%;
    display: flex;
    align-items: center;
    background-color: #48416b;
    flex-direction: row;

  }
  .logo,.links{
    width: 100%;
  }
  .logo{
    background-color: red;
    min-width: 100px;
  }
  @media screen and (max-width:300px) {
    .logo{
      display: none;
    }
  }
  
  .links{
  
    display: flex;
    justify-content: space-around;
    align-items: center;

  }  
  .firstLinks{
    margin-right: 0.5rem;
    background-color: #112255;
    color:rgb(155, 155, 155);  
    border-radius: 40px;
    width:30%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }  
   .larger{
    width:0%;
   }
   .smaller{
    width:30%;
    
   }
    .ulList{
      width: 90%;
      margin:0 auto;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding:10px;
    }  
    .ulList li{
      margin:0 0.5rem;
    }
  /* .smaller{
    width:40%;
  }
  .larger{
    width:80%;
  } */


.firstLinksContainer{
  margin-left: 0.5rem;
  background-color: #112255;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative;
  

}

.link{
  color: white;
  text-decoration: none;
}
.imgLink{
  height: 50px;
  width: 50px;
}
.userImage{
  width: 40px;
  height: 40px;
}
@keyframes changeLinkColor {
  0%{
    color:white;
  }
  100%{
    color: #4662a9;
  }
}
.link:hover{
  animation: changeLinkColor 0.5s ease forwards;
}
.btnContainer,.signBtnContainer{
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width:300px;
  min-width:100px;
}
.btnContainer{
  width:10%;
}
.signBtnContainer{
  width: 50%;
}
.signup, .signin{
  padding:15px 20px;
  color: white;
  border-radius: 20px;
  border:0;
  cursor: pointer;
}
.signin{
  background-color: transparent;
  border: 1px solid #3a6cfd;
}
.signin:hover{
  border-color: white;
  background-color: white;
  color:black
}
.signup{
  background-color: #3a6cfd;
}

.signup:hover{
  background-color: white;
  color:black
}

.logout{
  padding:15px 20px;
  color: white;
  background-color: red;
  border-radius: 20px;
  border:0;
  cursor: pointer;
}
.logout:hover{
  border: 0;
  background-color: white;
  color:red
}

@media screen and (max-width:1348px) {
  .ulList{
    font-size: 0.8rem;
  }
}

@media screen and (max-width:450px) {
  .firstLinks{
    width: 98%;
    margin: 0 0;
  }
  .ulList{
    font-size: 0.8rem;
  }
}

.popupvisible{
  width:50%;
  display: block;
  position: absolute;
}

.popsettings{
  left: 20%;
  top:10px;
}
.popnotif{
  left: 45%;
  top:10px;
}
.popup{
  left: 60%;
  top:10px;
}
.layoutPupop{
  background-color: white;
  box-shadow: 1px 1px 2px rgb(32, 32, 32),-1px 1px 2px rgb(32, 32, 32),1px -1px 2px rgb(32, 32, 32),-1px -1px 2px rgb(32, 32, 32);
}

.notif,.settings{
  cursor: pointer;
}
.notif:hover ,.settings:hover{
  fill:#3a6cfd;
}
.userImage{
  object-fit: cover;
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.hamburger{
  display: none;
  width: 25%;


}

@keyframes movemenu {
  0%{
    top:-100%;
  }
  100%{
    top:0;
  }
}

.line{
  margin: 0.2rem 0;
  display: block;
  width: 30%;
  min-width:30px;
  height: 5px;
  background-color: white;
}

.dropdowninvisible{
  display: none;
}
.dropdownvisible{
  left:0;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 50vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px black,-1px -1px 1px black,1px -1px 1px black,-1px 1px 1px black;
  
  animation: movemenu 1s forwards;
  overflow: hidden;
}

.dropdownClose{
  background-color: transparent;
  border: 1px solid black;
  position: absolute;
  bottom:0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 20%;
  min-width: 100px;
  text-align: center;
  color:red;
  font-size: 1.5rem;

}

.menuparag{
  text-align: center;
  margin: 1rem 0;
  color:black;
  text-decoration: none;
}
.blackLink{
  text-decoration: none;
}
.linksexist{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width:700px) {
  .hamburger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .logo,.links,.linksexist{
    width: 90%;
       
  }
  .linksexist{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .firstLinks{
   display: none;
  
  }
  .firstLinksContainer{
    display: none;

  }
  .btnContainer{
    width: 60%;
    margin:1rem 0;
  }
  .ulList{
    font-size: 1rem;
  }
  .links{
    flex-direction: row-reverse;
  }
  .btnContainer{
    width: 0;
  }
  .logout{
   margin-left: 0;
  }
}
@media screen and (max-width:450px) {
  .ulList{
    font-size: 0.6rem;
  }
}



.closeMenu{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width:900px) {
   .logo{
     width: 40%;
   }
   .links{
     width: 60%;
   }
}

.closeanimation{
  background-color: red;
}
.hamdropdown{
  
}