.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.touchContainer{
    margin-top: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgba(0, 0, 0, 0.918);
}

.emailContainer{
    margin-top: 2rem;
    width: 90%;
    text-align: center;
    font-size: 0.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
.emailContainer a{
    text-decoration: none;
    
}