.homeMain{
   
    background-position:center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black; 
}

@keyframes leftToRight {
    0%   {
        margin-left:0%;
        opacity: 0;
    }
    100%  {
        margin-left:10%;
        opacity: 1;
    }
}
.homeMainContainer{
    padding:10rem 1rem;
   width:100%;
    color:white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Lato', sans-serif;
    text-align: left;
    
    
}
.homeMainTextContainer{
    width: 300px;
}


.move{
    animation:  leftToRight 0.7s ease forwards ;
}
.findBuddy{
    font-size: 3rem;
}
@media (max-width:400px) {
    .findBuddy{
        font-size: 2rem;
    }
}
@media (min-width:1000px) {
    .homeMainTextContainer{
        width: 600px;
    }
    .findBuddy{
        font-size: 4rem;
    }
}
.signUp{
    margin:1rem 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding:20px 10px;
}
.getStarted{
    background-color: #3a6afe;
    border:0;
    margin-right:1rem;
    padding:15px 20px;
    border-radius: 30px;
    color: white;
}
.whatWeOffer{
    background-color: #494b56;
    border:0;
    margin-right:1rem;
    padding:15px 20px;
    border-radius: 30px;
    color: white;
}

@keyframes changeBackgroundColor {
    0%{

    }
    100%{
        background-color: white;
        color:black;
    }
}
.whatWeOffer:hover, .getStarted:hover{
  animation:changeBackgroundColor 0.5s ease-in-out forwards;
}


.cardContainer{
    display: flex;
    align-content: center;
    width: 80%;
    max-width: 1300px;
    background-color: #242935;
    margin: 6rem auto;
    min-height: 150px;

}

.card{
   
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 320px;  
    min-height: 200px;

}

@keyframes test {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.inView{
    opacity: 0;
    animation: test 1s  0.3s ease-out forwards;
}


@keyframes stick {
    0%{
        
        height:5px;
    }
    100%{
        height: 100px;
    }
}
.inView span{
    border-radius: 20px;
    width: 10px;
    background-color: #3a6afe;
    animation: stick 1s ease forwards;
}

@media screen and (max-width:1000px){
    .cardContainer{
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-color: transparent;
    
    }
    .card{
        margin: 0.5rem 0;
        background-color: #242935;
       border-radius: 10px;
    }
    
}