
.post{
    width: 70%;
    max-width: 400px;
    text-align: left;
    margin: 1rem 1.6rem;
    background-color: white;
    border: 1px solid black;
    padding:10px;
    border-radius: 10px;
}

.userInfo{
    display: flex;
    justify-content: space-between;

}

.imgAndNameContainer{
    display: flex;
    align-items: center;


}
.userImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
.userName{
    font-family: 'Work Sans', sans-serif;
}
.texts{
    cursor: pointer;
}
.texts:hover > .userHeader{ 
    color: #46529e;
}
.texts:hover > .userParagraph {
    color: #b0b0f8;
}

.userHeader{
    margin-top: 1rem;
    font-family: 'Sanchez', serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #282828;
}

.userParagraph{
    height: 30px;
    word-wrap: break-word;
    overflow: hidden;
    color: #000000;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
}


.dropdown{
    cursor: pointer;
}
.dot{
    background-color: #353535;
    width: 5px;
    height: 5px;
    margin:0.5rem 0;
   border-radius: 50%;
}
.dotwhite{
    background-color: aliceblue;
}

/* .dots{
    position: relative;
} */
.pupopvisible{
    display: inline-block;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452),-2px -2px 3px rgba(0, 0, 0, 0.452),-2px 2px 3px rgba(0, 0, 0, 0.452),2px -2px 3px rgba(0, 0, 0, 0.452);

}

.popupinvisible{
    display: none;
}
.postInfo{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewComment{
    display: flex;
    width: 55%;
  
}
.longPost{
    cursor: pointer;
    margin-right: 0.2rem;
}




.heartContainer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.heartContainer p{
margin-right: -20px;
}
.heart{
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
  }
  .heartactive{
    animation: heart-burst .8s steps(28) 1;
  }
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  }
