
.bgcolor{
    background-color: #f5f5f5;
}
.imgContainer{
    display: flex;
    background-color: #677698;
    width: 100%;
    justify-content: space-between;
    padding:50px 0;
    padding-bottom: 10px;
}
.imgAndName{
    margin:1rem 1rem;
    display: flex;
    align-items: center;
}


.userimg{
    border-radius: 50%;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.circle{
    background-color: black;
    width: 50px;
    height: 50px;
}
.nameContainer{
    color:white;
    font-size: 2rem;
    font-weight: 400;
}
.nameFollowers{
    display: flex;
    flex-direction: column;

}
.foll{
    display: flex;
    align-items: center;
}
.profileDot{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 0 1rem;
}
.foll p{
    color:white;
 }

 .editProfileContainer{

     margin: 0 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .editProfileBtn{
  width: 100px;
  padding:10px; 
  background-color: transparent;
  border: 1px solid white;
  cursor:pointer;
  color:white;
 }
 .editProfileBtn:hover{
    background-color: white; 
    color:black;
   }
/* .profileOne{
    margin-right: 1rem;
}
.profileTwo{
    margin: 0 1rem;
} */

.profileOptions{
    margin: 1rem;
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.profileOptions li{
    cursor: pointer;
    font-size: 1.2rem;
}

.profileOptions li:hover{
   color: rgba(0, 119, 255, 0.561);
}
.selected{
   color: rgba(0, 89, 255, 0.829);
}
.profileContainer{
    margin-top: 2rem;
}
.userName{
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
}
.about{
    font-size: 1.2rem;
    margin-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.followingNotPosts{
    font-size: 1.3rem;
  
}
.postsText{
    font-size: 1.6rem;
}
@media screen and (max-width:1000px) {
    .profileOptions{
      flex-direction: column;
      margin: 0 auto;
    }
    .profileOptions li{
     margin-top: 1rem;
    }
    .profileOptionsContainer{
        text-align: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width:600px) {
    .imgContainer{
        flex-direction: column;
    }
}


.followingContainer{
  display: flex;
  align-items: center;
}

.unfollow{
    cursor: pointer;
    margin-left: 2rem;
    padding:10px;
    background-color: rgb(255, 0, 85);
    border: 0;
    color:white;
    border-radius: 10px;
}

.massege{
    cursor: pointer;
    margin-left: 2rem;
    padding:10px;
    background-color: rgb(0, 132, 255);
    border: 0;
    color:white;
    border-radius: 10px;

}
.btnContainer{
  display: flex;
}
@media screen and (max-width:440px) {
    .btnContainer{
        flex-direction: column;
        justify-content: center;
      }
}
.followingPosts{
    border-radius: 10px;
    display: flex; 
    flex-direction: column;

}
.shortPost{
    background-color: red;
}
.usersPosts{
    font-size: 2rem;
    margin: 1rem 1.6rem;
}
.postsContainer{
    display: flex;
}
.aboutContainer{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black,-1px -1px 1px black,-1px 1px 1px black,1px -1px 1px black;
    cursor: pointer;
    margin: 0rem 1rem;
    padding:20px 10px;

}
.none{
    margin: 0 1.6rem;
}

.btnContainer{
    display: flex;
    margin: 0 auto;
    margin: 1rem;
    padding:20px 0;
}
.followBtn{
    cursor: pointer;
    padding: 10px;
    background-color: rgb(0, 132, 255);
    border: 0;
    color: white;
    border-radius: 10px;
}
.notifications{
    display: flex;
    align-items: center;
}
.acceptBtn{
    margin-left: 1rem;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(0, 132, 255);
    border: 0;
    color: white;
    border-radius: 10px;
}

.option{
  margin-left: 1.6rem;
  font-size: 1.5rem;
  color:rgb(40, 40, 40);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.editContainer{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2rem 0;
     flex-direction: column;    
}
.inputContainer{
    display: flex;
    flex-direction: column;
}
.newImgContainer{
    display: flex;
    justify-content: center;
}

.aboutInput,.nameInput{
    margin: 1rem 0;
    padding:10px;
}
.uploadInput{
    background-color:#677698;
    color:white;
    border: 0;
    padding:10px;
}
.newCommentContainer{
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
.okBtn{
    margin-left: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #677698;
}
.okBtn:hover{
     background-color: #677698;
     color:white
}