.container{
    min-height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.userBox{
display: flex;
justify-content:flex-start;
margin-left: 2rem;
align-items: center;
cursor: pointer;
}
.userImage{
    border-radius: 50%;
    width: 75px;
    object-fit: cover;
    height: 75px;
}
.userName{
    margin-left: 1rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 1.5rem;
}
.textContainer{
    margin-left: 1rem;
    max-width: 200px;
    overflow: hidden;
    display: flex;
}

@media screen  and (max-width:440px){
    
}
.okBtn{
    margin-left: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #677698;
}
.okBtn:hover{
     background-color: #677698;
     color:white
}