*{
    box-sizing: border-box;
}
.userExistContainer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}
.userExistImageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (min-width:600px){
    .userExistImageContainer{
        padding:100px 0;
    }
}
.userExistStart{
    color: white;
    border-radius: 20px;
    padding:10px;
    font-family: 'Klee One', cursive;
    font-size: 3rem
}
.userExistType{
    color: white;
    border-radius: 20px;
    padding:10px;
    font-family: 'Klee One', cursive;
    font-size: 2rem;
}
.userExistSubjectInfo{
    color: white;
    border-radius: 20px;
    margin-top: 5rem;
    padding:10px;
    font-family: 'Klee One', cursive;
    font-size: 1.5rem;
}
.textContainer{
    margin: 1rem auto;
    max-width: 1800px;
    width: 95%;
    display: flex;
    justify-content:center;
}
.searchPost{
    margin:1rem auto;
    max-width: 1800px;
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.INwhat{
    width: 100%;
    border: 2px solid #000000d5;
    padding:10px;
    max-height: 1000px;
    max-width: 2000px;
}


.INheader{
    margin-top: 2rem;
    width: 60%;
    border: 2px solid #000000d5;
    padding:10px;
}

.INkey{
    margin-top: 2rem;
    width: 35%;
    border: 2px solid #000000d5;
    padding:10px;
}
.INimg{
    width: 30%;
    border: 1px solid black;
    border-left: 0;

}
.newPost{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
}



.search{
    margin-top: 1rem;
    padding:10px 10px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.postSettings{
    width: 95%;
    margin: 2rem 1rem;
    display: flex;
   align-items: center;
   justify-content: space-between;
}


.sortContainer{
    width: 40%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
.sort{ 
    width: 70%;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
}
@media screen and (max-width:500px) {
    .postSettings{
        flex-direction: column;
    }
    .sortContainer{
        width: 90%;
    }
    .createPostBtn{
        margin-top: 2rem;
    }
    .searchPost{
        flex-direction: column;
        width: 95%;
        margin: 1rem auto;
    }
    .INheader{
        width: 100%;
    }
    .INkey{
        width: 100%;
        margin: 2rem 0;
    }
}
.sort:focus{
  outline: none;
}

.createPostBtn{
  background-color: #7c96d3;
   border: 0;
   padding:20px;
   border-radius: 5px;
   color:white;
   cursor: pointer;
}
.createPostBtn:hover{
    background-color: #97b6ff;
     color:white;
  }
.subject{
    width:80%;
    border-radius: 10px;
    border: 0;
    text-indent: 10px;
    font-size: 1.2rem;
}
.existBtnContainer{
 width: 100%;
 display: flex;
 justify-content: flex-end;

 
}
.searchBtn{
    width: 10%;
    border-radius: 10px;
    /* background-color: #0022FF; */
    background-color: transparent;
    border: 1px solid black;
    color: white;
    padding:10px;
    cursor: pointer;
}

.searchBtn:hover{
    background-color: #00b7ff;
    border: 1px solid transparent;
}
.createBtn,.cancelBtn{
    width: 100px;
    height: 50px;
    min-width: 50px;
    min-height: 25px;
    background-color: #A7AFC3;
    border: 1px solid #A7AFC3;
    color: white;
    padding:10px;
    cursor: pointer;
    margin: 1rem 1rem;
}
.createBtn:hover{
  background-color: transparent;
  order:1px solid #A7AFC3;
  color: #A7AFC3;
}
.cancelBtn{
    background-color: transparent;
    color:#A7AFC3;
    border:1px solid #A7AFC3;
}
.cancelBtn:hover{
    background-color: #A7AFC3;
    color:white;
    border:1px solid #A7AFC3;
}
@media screen and (max-width:550px) {
    .existBtnContainer{
        justify-content: center;
    }
}
.userImage{
    width: 50px;
    height:50px;
}
.posts,.postsFlex{
    background-color: rgb(200, 200, 200);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
.postsFlex{
    flex-direction: row;
}
.henryContainer{
    width: 100%;
    background-color: #465066;
    padding:100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.henry{
    padding:100px 100px;
    background-color: white;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}
.henryText{
    font-size: 2rem;
    font-family: 'Klee One', cursive;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2rem;
}

.scPost{
    text-align: center;
    color:rgb(0, 160, 0);
    font-size: 2rem;
}
@media screen and (max-width:600px) {
    .search {
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
    }
    .subject{
        width: 90%;
        margin-bottom: 1rem;
        padding:10px;
    }
    .searchBtn{
        width: 90%;
    }
    .scPost{
        font-size: 1rem;
    }
    .henryText{
        font-size: 1rem;
    }
}
