.container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.plsVerify{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    padding:10px 0;
    margin-top: 2rem;
}
.plsVerifyLong{
    border-radius: 10px;
    padding:10px 0;
    margin-top: 1.5rem;
}

